/* General Styles for Charts */
.user_data_charts {
    border: 2px solid red;
    padding: 10px;
}

.chart_container, 
.line_contaner, 
.pie_contaner, 
.doughnut_contaner, 
.radar_contaner, 
.polar_contaner, 
.bubble_contaner {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Bar Chart */
.chart, 
.line_data, 
.pie_data, 
.doughnut_data, 
.radar_data, 
.polar_data, 
.bubble_data {
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
    padding: 10px;
}

.chart h2, 
.line_data h2, 
.pie_data h2, 
.doughnut_data h2, 
.radar_data h2, 
.polar_data h2, 
.bubble_data h2 {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .chart, 
    .line_data, 
    .pie_data, 
    .doughnut_data, 
    .radar_data, 
    .polar_data, 
    .bubble_data {
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .chart, 
    .line_data, 
    .pie_data, 
    .doughnut_data, 
    .radar_data, 
    .polar_data, 
    .bubble_data {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .chart, 
    .line_data, 
    .pie_data, 
    .doughnut_data, 
    .radar_data, 
    .polar_data, 
    .bubble_data {
        max-width: 100%;
        padding: 5px;
    }
}
